body {
    display: grid;
    justify-content: center;
    align-items: center;
}
.jotsup {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    background-color: rgb(223, 246, 246);
    border: 1px solid blue;
    border-radius:50px;
}
.jotblue {
    background-color: #0A1551;
    color: white;
}